<footer class="site-footer">
  <div class="wrapper">

    <div style="text-align:center; margin-top: 1.5em;">

      <p style="font-weight:600; margin-bottom:0.5em;">
        Connect with me
      </p>

      <p style="margin-bottom:1em;">
        <a href="https://www.linkedin.com/in/shadrach-eze-b-pharm-2090b3175?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BCWrRGyDsSLKoHQZ8VYWqkw%3D%3D" target="_blank">LinkedIn</a> •
        <a href="https://github.com/SHEDOOMTC" target="_blank">GitHub</a> •
        <a href="https://orcid.org/0000-0002-4987-5583" target="_blank">ORCID</a> •
        <a href="mailto:shadrachchinecheremeze@gmail.com">Email</a>
      </p>

    </div>

    <p style="text-align:center; font-size: 0.85em; color: #777;">
      © {{ site.time | date: "%Y" }} {{ site.title }} — All rights reserved.
    </p>

  </div>
</footer>
