<footer class="site-footer">
  <div class="wrapper">
    <p style="text-align:center; margin-top: 1.5em;">
      Connect with me:
      <a href="linkedin.com/in/shadrach-eze-b-pharm-2090b3175" target="_blank">LinkedIn</a> •
      <a href="https://github.com/SHEDOOMTC" target="_blank">GitHub</a> •
      <a href="shadrachchinecheremeze@gmail.com">Email</a>
    </p>

    <p style="text-align:center; font-size: 0.85em; color: #777;">
      © {{ site.time | date: "%Y" }} {{ site.title }} — All rights reserved.
    </p>
  </div>
</footer>
